.bg{
    background-color: burlywood;
    text-align: center;
    font-size:xx-large;
    font-weight: 1000;
    padding:20px;
}   
.color{
color:rgb(216, 15, 48);
    font-weight:600;
    font-size:20px;
    padding:20px
}