.container {
    background-color: #64a4d8;
    padding: 20px;
    font-size:20px;
    font-weight:1000;
  }
  
  .title {
    text-align: center;
    color: #0a3f70;
    font-size: xx-large;
    justify-content: center;
  }
     